<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>권한 코드 요청 폼 작성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div class="container">
    <form role="form" th:action="@{/oauth/authorize}" th:object="${form}" method="post">
        <div class="form-group">
            <label th:for="response_type">응답 형태(Token)</label>
            <input type="text" th:field="*{response_type}" class="form-control" placeholder="응답 형태">
        </div>
        <div class="form-group">
            <label th:for="client_id">이용기관 Access ID</label>
            <input type="text" th:field="*{client_id}" class="form-control" placeholder="이용기관 Access ID">
        </div>
        <div class="form-group">
            <label th:for="redirect_uri">리다이렉트 주소</label>
            <input type="text" th:field="*{redirect_uri}" class="form-control" placeholder="리다이렉트 주소">
        </div>
        <div class="form-group">
            <label th:for="scope">Access 토큰 권한 범위</label>
            <input type="text" th:field="*{scope}" class="form-control" placeholder="Access 토큰 권한 범위">
        </div>
        <div class="form-group">
            <label th:for="client_info">임의사용자정보</label>
            <input type="text" th:field="*{client_info}" class="form-control" placeholder="임의사용자정보">
        </div>
        <div class="form-group">
            <label th:for="state">32bit 난수</label>
            <input type="text" th:field="*{state}" class="form-control" placeholder="32bit 난수">
        </div>
        <div class="form-group">
            <label th:for="auth_type">사용자인증타입</label>
            <input type="text" th:field="*{auth_type}" class="form-control" placeholder="사용자인증타입">
        </div>
        <div class="form-group">
            <label th:for="lang">다국어 설정</label>
            <input type="text" th:field="*{lang}" class="form-control" placeholder="다국어 설정">
        </div>
        <div class="form-group">
            <label th:for="cellphone_cert_yn">번호인증 사용여부</label>
            <input type="text" th:field="*{cellphone_cert_yn}" class="form-control" placeholder="번호인증 사용여부">
        </div>
        <div class="form-group">
            <label th:for="authorized_cert_yn">공인인증서 사용여부</label>
            <input type="text" th:field="*{authorized_cert_yn}" class="form-control" placeholder="공인인증서 사용여부">
        </div>
        <div class="form-group">
            <label th:for="account_hold_auth_yn">계좌 소유 인증</label>
            <input type="text" th:field="*{account_hold_auth_yn}" class="form-control" placeholder="계좌 소유 인증">
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">요청</button>
    </form>
    <br/>
</div>
</body>
</html>