<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header">
    <title>권한 코드 요청 폼 작성</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body>
<div id="accessToken"><%=authorizeReq.access_token%></div>
</body>
<script>
    opener.document.getElementById("userAccessToken").value =
        document.getElementById("accessToken").textContent;
</script>
</html>